<!DOCTYPE html>
<html>
	<head>
		<h1>The Graph Page!</h1>
	</head>

	<body>
		<div>
			<h1>The Graph Area, which contains the Graph Box!</h1>
			<form class = 'form-signin span8' id = 'user_form' method = 'post' action = '/graph/'>
				{% csrf_token %}
				<input type = 'text' size ='50' name = 'query' value = '' id = 'query' />
				<input class = 'btn btn-primary' type = 'submit' name = 'submit' value = 'Search' />
				<br />
			</form>

			{% if chart %}
			<div>
				<img src = "{{ chart }}">	
			</div>
			{% else %}
			<div>
				<strong>Sorry, my friend, FRED has nothing matching those search terms.</strong>
			</div>
			{% endif %}
		</div>
	</body>
</html>