<!DOCTYPE html>
<html>
	<head>
		<h1>The Search Page!</h1>
	</head>

	<body>
		<div>
			<h1>The Search Area, which contains the Search Box!</h1>
			<form class = 'form-signin span8' id = 'user_form' method = 'post' action = '/search/'>
				{% csrf_token %}
				<input type = 'text' size ='50' name = 'query' value = '' id = 'query' />
				<input class = 'btn btn-primary' type = 'submit' name = 'submit' value = 'Search' />
				<br />
			</form>

			{% if result_list.any %}
			<div>
				<ol>
				{% for result in result_list %}
					<li>
						<strong>{{ result }}</strong><br />
					</li>
				{% endfor %}
				</ol>	
			</div>
			{% endif %}
		</div>
	</body>
</html>